{
    "root": true,
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:jsx-a11y/recommended",
        "plugin:react-hooks/recommended",
        "airbnb",
        "prettier"
    ],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "allowImportExportEverywhere": true,
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": true
        }
    },
    "plugins": [
        "prettier",
        "react",
        "react-hooks",
        "jest"
    ],
    "overrides": [
        {
            "files": [
                "test/**/*.test.js"
            ],
            "extends": [
                "plugin:jest/recommended"
            ],
            "rules": {
                "jest/expect-expect": "off",
                "jest/no-disabled-tests": "off"
            }
        },
        {
            "files": [
                "**/__tests__/**"
            ],
            "env": {
                "jest": true
            }
        }
    ],
    "rules": {
        "no-shadow": "off",
        "no-use-before-define": "off",
        "react/forbid-prop-types": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-indent": "off",
        "react/jsx-indent-props": "off",
        "react/jsx-props-no-spreading": "off",
        "react-hooks/rules-of-hooks": "error",
        "react/react-in-jsx-scope": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "import/no-unresolved": "off",
        "radix": ["error", "as-needed"],
        "no-param-reassign": "off",
        "no-underscore-dangle": "off"
    }
}